<!-- Footer-->
<footer class="container mb-10 {{configClassList}} {{classList}}">
    <h6 class="display-2 tracking-wide mb-3" data-aos="slide-up">Want to work with me?</h6>
    <p class="text-muted lead tracking-wide mb-5" data-aos="reveal-left" data-aos-delay="500">Get the ball rolling</p>
    <a href="#" class="text-warning display-6 font-serif tracking-wide text-decoration-none" data-aos="reveal-right" data-aos-delay="1200">sobanrauf@outlook.com</a>

    <ul class="list-unstyled d-flex flex-md-row flex-column mt-5 mb-4" data-aos="fade-up">
        <li class="me-7"><a class="text-body text-decoration-none" href="https://www.facebook.com/soban.rauf.7">Facebook</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="https://www.linkedin.com/in/soban-rauf-47a1861a8?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">LinkedIn</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="https://www.instagram.com/soban_rauf_official?igsh=MTFldHliY3hxa3Z5YQ%3D%3D&utm_source=qr">Instagram</a></li>
        <li class="me-7"><a class="text-body text-decoration-none" href="https://wa.me/message/LUOCZF6VV43DB1">Whatsapp</a></li>
    </ul>
    <ul>
        
    </ul>


</footer>
<!-- / Footer-->

<!-- Modal Imports-->
{{> modals/modals }}
<!-- / Modal Imports-->

<!-- Slideout-->
{{> slideout/slideout }}
<!-- / Slideout -->