<div class="row g-5 about py-5">
    <div class="col-12 col-xl-6" data-aos="reveal-left">
        <h3 class="display-5">I am a multi-skilled React Native and MERN stack developer who enjoys solving complex challenges and building robust applications.</h3>
    </div>
    <div class="col-12 col-xl-6 opacity-90" data-aos="reveal-right" data-aos-delay="250">
        <p>I build applications and user interfaces that stand out in today’s fast-paced digital world. I leverage my skill set to understand your business needs and create experiences that resonate with your audience, keeping in mind how they will interact with your product across various touchpoints.</p>
        <p></p>I strive to create smart, user-centered solutions that seamlessly connect businesses with their consumers, enhancing engagement and driving meaningful interactions on every platform.</p>
    </div>
</div>